.card-container {
    width: 300px;
    /* border: 3px solid #000000; */
    border-radius: 5px;
    margin: 10px;
    padding: 5px;
    cursor: pointer;
    background-color: rgb(194, 244, 180)
  }

  .card-id {
    display: inline-block;
    float: right;
    margin-right: 10px;
    margin-top: 5px;
    background-color: black;
    border-radius: 5px;
    color: white;
    font-weight: 700;
    font-family: monospace;
  }
  
  .card-title {
    display: inline;
  }
  
  .card-cost {
    margin-top: 15px;
  }
  
  .card-container:hover {
    background-color: rgb(232, 232, 232);
  }

  .button-delete {
    float:left; /*<---*/
    /* background: #000000; */
    /* width: 20%; */
  }

  .informations-card {
    float:left; /*<---*/
    width: 78%;
  }